[submodule "frontend/apps/marketing"]
	path = frontend/apps/marketing
	url = https://github.com/quint007/openagency-marketing

[submodule "frontend/apps/courses"]
	path = frontend/apps/courses
	url = https://github.com/quint007/openagency-courses
