NODE_ENV=development
PORT=3000
PAYLOAD_API_URL=http://localhost:3002/api
PAYLOAD_API_KEY=
REVALIDATE_SECRET=replace-with-server-only-revalidation-secret
ALPHA_BASIC_AUTH_USERNAME=
ALPHA_BASIC_AUTH_PASSWORD=
